.form-container {
  margin: auto;
  padding: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  z-index: 1;

  .tab-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    span {
      flex: 1;
      text-align: center;
      padding: 10px;
      cursor: pointer;
      border-bottom: 2px solid #e1e1e1;

      &.active {
        border-color: #405ff2;
        font-weight: bold;
      }
    }
  }

  .form-section {
    .form-grid {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

      .input-container {
        position: relative;

        input,
        textarea,
        select,
        .date-picker-input,
        .time-picker-input {
          width: 100%;
          padding: 22px 10px;
          height: 4rem;
          border: 1px solid #e1e1e1;
          border-radius: 10px;
          background: none;
          color: #333;
          font-size: 1rem;
          transition: all 0.3s ease-in-out;

          &::placeholder {
            color: #333;
          }
        }
        input,
        textarea,
        .react-select__control {
          border: 1px solid #e1e1e1;
        }
        input:focus,
        textarea:focus,
        .react-select__control:focus {
          outline: none;
          border: 1px solid #e1e1e1;
        }

        .MuiInputBase-root {
          height: 4rem;
          border-radius: 10px;
          font-size: 1rem;
          box-sizing: border-box;
          border: none; /* Remove inner border */
          background: none;
          transform: translateY(-20px);
          margin-left: -10px;
        }
        .MuiInputBase-input::placeholder {
          color: #333;
          opacity: 1;
        }

        .MuiOutlinedInput-notchedOutline {
          border: none;
        }

        .MuiInputBase-input {
          border: none;
        }

        textarea {
          height: 6rem;
        }
        input[type="text"] {
          padding-left: 15px;
          padding-top: 30px;
        }
        input[type="number"] {
          padding-left: 15px;
          padding-top: 30px;
        }
        label {
          position: absolute;
          top: 8px;
          left: 12px;
          color: #aaa;
          font-size: 1rem;
          padding: 0 5px;
          transform-origin: left top;
          transform: scale(0.7);
          transition: all 0.2s ease-in-out;
          pointer-events: none;
        }

        .react-select-container {
          position: relative;
          .react-select__placeholder {
            color: #333;
          }
          .react-select__control {
            width: 100%;
            height: 4rem;
            border-radius: 10px;
            border: 1px solid #e1e1e1;
            background-color: white;
            color: black;
            transition: all 0.3s ease-in-out;
            font-size: 1rem;
          }

          .react-select__option {
            cursor: pointer;
          }

          .react-select__option:hover {
            background-color: #f0f0f0;
          }

          .react-select__value-container {
            padding: 0px 12px;
            font-size: 1rem;
          }

          .react-select__single-value {
            font-size: 1rem;
            color: black;
          }

          .react-select__indicator-separator {
            display: none;
          }

          .react-select__dropdown-indicator {
            color: gray;
          }
        }
      }

      #auction-container {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        gap: 10px;
        .place-bid {
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 10px 46px;
          gap: 10px;
          background: #405ff2;
          border: 1px solid #405ff2;
          border-radius: 12px;
          font-family: "DM Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 26px;
          color: #ffffff;
        }
      }
    }

    .next-button {
      margin-top: 1rem;
      text-align: end;

      button {
        padding: 10px 20px;
        background-color: #405ff2;
        color: #ffffff;
        border: none;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
        }

        &::after {
          content: " ↗";
          font-weight: bold;
          margin-left: 5px;
        }
      }
    }
    .feature-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
      small {
        font-size: 12px;
      }
      h5 {
        margin-bottom: 10px;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    .media-gallery {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 20px;

      .image-box {
        height: 150px;
        width: 200px;
        border-radius: 10px;
        border: 1px solid #e1e1e1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        font-size: 1rem;
        .delete-icon {
          display: none;
          position: absolute;
          cursor: pointer;
          opacity: 0.6;
          top: 0%;
          left: 0%;
          right: 0%;
          bottom: 0%;
          border-radius: 10px;
        }
        &:hover {
          .delete-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
          }
        }

        &.upload {
          border: 1px dashed #405ff2;
          background-color: skyblue;
          cursor: pointer;

          span {
            font-size: 0.8rem;
            margin-top: 5px;
          }
        }
      }
    }

    .video-link {
      display: flex;
      align-items: center;
      gap: 10px;

      input {
        flex: 1;
        padding: 8px 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .tab-navigation {
    span {
      font-size: 0.7rem;
    }
  }

  .form-grid {
    input,
    select,
    textarea {
      grid-column: span 2;
    }
  }
}
