.form-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 10px;

  h1 {
    text-align: center;
    margin-bottom: 10px;
  }

  .tab-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    span {
      flex: 1;
      text-align: center;
      padding: 10px;
      cursor: pointer;
      border-bottom: 2px solid #e1e1e1;

      &.active {
        border-color: #405FF2;
        font-weight: bold;
      }
    }
  }

  .form-section {
    h2 {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    .form-grid {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      margin-bottom: 20px;
      input,
      select,
      textarea {
        padding: 8px 10px;
        border: 1px solid #e1e1e1;
        border-radius: 10px;
        font-size: 1rem;
      }

      textarea {
        grid-column: span 2;
      }
    }

    .feature-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
      small {
        font-size: 12px;
      }
      h5 {
        margin-bottom: 10px;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    .media-gallery {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      margin-bottom: 20px;
    
      .image-box {
        height: 150px;
        border-radius: 10px;
        border: 1px solid #e1e1e1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    
        &.upload {
          border: 1px dashed #405FF2;
          background-color: skyblue;
          cursor: pointer;
    
          span {
            font-size: 0.8rem;
            margin-top: 5px;
          }
        }
      }
    }
    
    .media-attachments {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
    
      button {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 8px 12px;
        border: 1px solid #e1e1e1;
        border-radius: 4px;
        cursor: pointer;
        font-size: 0.9rem;
    
        svg {
          color: #666;
        }
    
        &.upload {
          background: #007bff;
          color: #fff;
          border-color: #405FF2;
    
          svg {
            color: #fff;
          }
        }
      }
    }
    
    .video-link {
      display: flex;
      align-items: center;
      gap: 10px;
    
      input {
        flex: 1;
        padding: 8px 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 1rem;
      }
    }
    
  }
}

.next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #405FF2;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  &:hover {
    background-color: #0056b3;
  }

  &::after {
    content: " →";
    font-weight: bold;
    margin-left: 5px;
  }
}

@media (max-width: 768px) {
  .form-grid {

    input,
    select,
    textarea {
      grid-column: span 2;
    }
  }
}