.car-list-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 1rem;
  flex-wrap: wrap;

  .last {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .add-vehicle-button {
    padding: 10px 20px;
    background-color: #405FF2;
    color: #fff !important;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.car-list-container {
  font-family: Arial, sans-serif;
  padding: 1rem;
  border: 1px solid #e1e1e1;
  border-radius: 10px;

  .car-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .car-list-header-input {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding: 8px;
      width: 60%;
      max-width: 400px;
      border-radius: 4px;

      input {
        width: 100%;
        border: none;
        outline: none;

        &::placeholder {
          color: black;
        }
      }
    }
  }
  .car-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;

    .car-list-header-input {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding: 8px;
      width: 60%;
      max-width: 400px;
      border-radius: 4px;

      input {
        width: 100%;
        border: none;
        outline: none;

        &::placeholder {
          color: black;
        }
      }

      input:focus {
        outline: none;
      }
    }

    .sort-options {
      display: flex;
      align-items: center;
      background-color: white;

      span {
        background-color: white;
        margin-right: 5px;
        color: #aaa;
      }

      select {
        background-color: white;
        padding: 8px;
        border: none;
        cursor: pointer;
      }
    }
  }

  .table-wrapper {
    width: 100%;
    overflow-x: hidden; 

    .car-table {
      width: 100%;
      border-collapse: collapse;
      min-width: 100%;
      thead th {
        text-align: left;
        background-color: #e9f2ff;
        color: #405FF2;
        font-weight: 400;
        padding: 10px;
        font-size: 0.9rem;
      }

      tbody td {
        padding: 20px;
        border-bottom: 1px solid #ddd;
        font-size: 0.85rem;
        white-space: normal;
      }
      .car-info {
        display: flex;
        align-items: center;
        .car-image {
          width: 100px;
          height: 80px;
          border-radius: 10px;
          background-color: #ddd;
          margin-right: 10px;
        }

        .price {
          display: flex;
          align-items: center;
          gap: 1rem;

          p {
            text-decoration: line-through;
            font-size: 0.8rem;
          }

          h6 {
            margin-top: 7px;
            font-size: 0.8rem;
          }
        }

        p {
          margin: 0;
          font-size: 0.75rem;

          &:first-child {
            font-weight: bold;
          }

          &:last-child {
            color: #666;
          }
        }
      }
    }
  }

  .action-buttons {
    button {
      padding: 8px 10px;
      margin: 0 5px;
      background: none;
      border: none;
      cursor: pointer;
      border: 1px solid #e1e1e1;
      border-radius: 16px;

      &:first-child,
      &:last-child {
        background-color: #f9fbfc;
        color: black;
      }

      &:hover {
        background-color: #e1e1e1;
      }
    }
  }

  .pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}

@media (max-width: 768px) {
  .table-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    .car-table {
      display: block;
      border-collapse: separate;
      width: 100%;
    }

    thead {
      display: none; // Hide table headers for mobile view
    }

    tbody {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    tbody tr {
      display: flex;
      flex-direction: column;
      background-color: #f9f9f9;
      padding: 1rem;
      border-radius: 10px;
      border: 1px solid #e1e1e1;
      width: 100%;
    }

    tbody td {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 0.9rem;
      padding: 5px 0;
      width: 100%;
    }

    tbody td::before {
      content: attr(data-label);
      font-weight: bold;
      color: #405FF2;
      font-size: 0.85rem;
    }

    .action-buttons {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      gap: 8px;
      width: 100%;
    }
  }
}