.category-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    .category-box{
    border: 1px solid #e1e1e1;
    height: 25rem;
    width: 18rem;
    border-radius: 10px;
    padding: 1rem;
    overflow-y: scroll;
    .input-container {
        position: relative;
        input {
          width: 100%;
          padding: 15px 10px;
          font-size: 1rem;
          border: 1px solid #e1e1e1;
          border-radius: 10px;
          background: none;
          color: #333;
          &::placeholder {
            color: black;
          }
            & + label {
              transform: translateY(-10px);
              font-size: 0.7rem;
              position: absolute;
              top: 10px;
              left: 12px;
              color: #aaa;
              transition: all 0.2s ease-in-out;
              pointer-events: none;
            }
        }
        button{
            background-color: transparent;
            border: none;
            position: absolute;
            right: 1rem;
            top: 1rem;
        }
}
h6 {
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: .5rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
        cursor: pointer;
    }
}
}
}