.admin-body {
  background-color: #050b20;
  min-height: 100vh;
  width: 100%;
  padding-top: 4rem;

  .admin-header {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    background-color: #050b20;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 1rem;
    z-index: 1000;
    .toggler {
      cursor: pointer;
      display: none;
    }
  }
  aside {
    position: fixed;
    height: 100vh;
    width: 12rem;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    font-size: 0.7rem;
    margin-left: 1rem;
    background-color: #050b20;
    z-index: 999;
    .dash-link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
      border-radius: 10px;
      text-decoration: none;
      color: #ffffff;
      cursor: pointer;
      padding: 0.5rem;
      &:hover {
        background-color: #0f1838;
      }
    }
  }
  .admin-outlet {
    min-height: calc(90vh - 2rem);
    width: calc(100vw - 18rem);
    margin-left: 15rem;
    padding: 4rem 3rem;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: 1;
    .dashboard-text {
      margin-left: 20px;
    }
  }
}

@media (max-width: 1350px) {
  .admin-body {
    padding: 0%;
    .close-adminnav {
      left: -100%;
      transition: left 1s ease-in-out, width 1s ease-in-out;
      top: 2.5rem;
    }
    .open-adminnav {
      left: -5%;
      transition: left 1s ease-in-out, width 1s ease-in-out;
      top: 2.5rem;
      width: 80vw;
    }
    .admin-outlet {
      width: 100%;
      min-height: 100vh;
      margin: 3rem 0%;
      border-radius: 0px;
      padding: 1rem;
    }
    aside {
      padding: 3rem;
    }
    .admin-header {
      padding: 0.5rem 1rem;
      .toggler {
        display: flex;
      }
    }
  }
}
