@media only screen and (max-width: 1200px) {
  .navbar-expand-lg .navbar-nav .nav-item .nav-link {
    display: ruby !important;
  }
}

@media only screen and (max-width: 991px) {
  .car-description h2 {
    font-size: 20px !important;
  }
  .car-description {
    padding: 30px 0 53px 0 !important;
  }
  .car-description p {
    font-size: 14px;
  }
  .car-description .view-btn-section {
    display: flex;
    gap: 15px !important;
  }
  .car-description .view-btn-section .Car-Brochure-btns button {
    padding: 20px 10px !important;
  }
  .car-description .view-btn-section .view-btns button {
    padding: 20px 10px !important;
  }
  .car-auction .value {
    position: absolute;
    left: 120px !important;
  }
  .car-auction {
    padding: 0 0px 0 9px !important;
  }
  .car-auction .bid-controls .place-bid {
    padding: 10px 18px;
    font-size: 14px;
  }
  .footer-section .footertopsection .mobileapp {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  .features-sections {
    margin-bottom: 29px !important;
  }
  .footer-section .footer-mid-section .footer-information-detail {
    justify-content: start !important;
  }
  .footer-text {
    margin-bottom: 40px !important;
  }
  .footer-section .footertopsection .Products {
    margin-bottom: 30px !important;
  }
  .footer-section .footertopsection .mobileapp .images img {
    max-width: 200px !important;
  }
  .footertopsection .images {
    flex-direction: column;
    display: flex;
  }
  .footer-section .footertopsection {
    padding-bottom: 40px !important;
  }
  .footer-section .copyright-terms {
    justify-content: center !important;
  }
  .copyright {
    text-align: center !important;
  }
  .main {
    padding-top: 30px !important;
  }
  .main {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    margin-bottom: 10px !important;
  }
}

@media only screen and (max-width: 450px) {
  .car-auction .value {
    position: absolute;
    left: 98px !important;
  }
  .carsale-section .carsale-btns2 button {
    right: 10px !important;
  }
  .car-description .view-btn-section .Car-Brochure-btns button {
    font-size: 13px;
    padding: 20px 5px !important;
  }
  .car-description .view-btn-section .view-btns button {
    padding: 20px 5px !important;
  }
  .car-auction h1 {
    font-size: 35px !important;
  }
  .header-section {
    padding: 10px 15px !important;
  }
  .car-auction .bid-controls .place-bid {
    padding: 10px 18px;
    font-size: 15px !important;
  }
  .car-auction .bid-controls {
    flex-direction: column !important;
  }
  .car-auction .car-overview {
    background-color: #f9fbfc;
    padding: 10px 10px !important;
  }
  .car-auction .value {
    font-size: 12px !important;
  }
  .car-auction .texts .label {
    font-size: 12px !important;
  }
  .car-auction .car-overview .icon {
    margin-right: 5px !important;
  }
  .car-auction .car-overview .icon img {
    width: 15px !important;
  }
}
