.explore-Allvehicles-section {
  padding-top: 80px;
  padding-bottom: 50px;
  .Explore-text-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 25px;
    h2 {
      /* Explore All Vehicles */
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 45px;
      color: #050b20;
    }
    .view-btn {
      a {
        display: flex;
        align-items: baseline;
        justify-content: baseline;
        font-family: "DM Sans";
        font-size: 15px;
        font-weight: 400;
        text-decoration: none;
        color: black;
        img {
          max-width: 100%;
          object-fit: cover;
          margin-left: 5px;
        }
      }
    }
  }
}
.tab-toggle {
  display: flex;
  justify-content: start;
  margin-bottom: 41px;
  border-bottom: 1px solid #e1e1e1;
  button {
    padding: 10px 10px;
    margin: 0 5px;
    border: none;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0 !important;
    font-weight: 500;
    // transition: background-color 0.3s, color 0.3s;
  }
  button.active {
    background-color: transparent !important;

    border-bottom: 2px solid navy;
  }
}
.tab-toggle button:hover {
  background-color: transparent !important;
}
