.contact-container {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 50px;

  .contact-button {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #050b20; /* Border around each button */
    border-radius: 30px; /* Rounded shape for buttons */
    padding: 6px 20px;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    .icon {
      img {
        max-width: 100%;
        object-fit: cover;
      }
      margin-right: 5px;
    }

    .text {
      font-size: 14px; /* Text size */
      color: #050b20; /* Text color */
    }
  }

  .contact-button:hover {
    background-color: #f0f8ff; /* Light blue on hover */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}
