.footer-section {
  background-color: #050b20;
  padding: 40px 0 20px;

  .footer-mid-section {
    display: flex;
    justify-content: space-between;
    .footer-text {
      .logo {
        margin-bottom: 20px;
        img {
          max-width: 100%;
          object-fit: cover;
        }
      }
      p {
        /* Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id es */
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 26px;
        color: #ffffff;
      }
    }
    .footer-information-detail {
      display: flex;
      justify-content: end;
      .footer-information {
        .Products {
          // padding: 0 15px;
          h3 {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 20px;
            color: #ffffff;
          }
          ul {
            list-style: none;
            padding-left: 0;
            li {
              font-size: 16px;
              font-family: "DM Sans";
              margin-bottom: 10px;
              line-height: 24px;
              color: #ffffff;
              font-weight: 400;
              a {
                font-family: "DM Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 35px;
                text-decoration: none;
                color: #ffffff;
                border-bottom: none;
                padding-bottom: 5px;
              }
              a:hover {
                border-bottom: 1px solid white;
              }
            }
          }
        }
      }
    }
  }

  .copyright {
    p {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 26px;

      color: #ffffff;
    }
  }
  .copyright-terms {
    display: flex;
    justify-content: end;
    p {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 26px;

      color: #ffffff;
    }
  }
}
