.header-sections {
  padding: 10px 53px;
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar-expand-lg {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-toggler {
    padding: 0;
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    justify-content: flex-start;
  }

  .navbar-brand {
    // margin-top: -10px;
    img {
      width: 65px !important;
    }
  }
  .navbar-expand-lg .navbar-collapse {
    width: 300px !important;
  }

  .navbar-nav {
    .nav-item {
      padding: 0;
      .nav-link {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 26px;
        padding: 0px 16px;
        color: #ffffff;

        img {
          margin-left: 5px;

          object-fit: cover;
        }
      }
      // .nav-link:hover {
      //   color: #1d1b1c;
      // }
      .underline {
        border-radius: 0px;
        border-bottom: 2px solid black !important;
      }
    }
  }
}
.dropdown-menu {
  border: none;
  box-shadow: rgba(10, 0, 0, 0.1) -1px -2px 10px -0.5px,
    rgba(10, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: white;
  padding: 10px 0px !important;
  // width: 80px;
  li {
    background-color: transparent;
    padding: 2px 0 !important;
    a {
      color: #ffffff;
      font-size: 15px;
      font-weight: 400;
      line-height: 30px;
      font-family: "DM Sans";
      // margin-left: 10px;
      padding: 0 !important;
    }
  }
  li:hover {
    background-color: #010153 !important;
  }
  li:hover a {
    color: white !important;
  }
}
.dropdown-menus {
  // border: none;
  // border-radius: 6px;
  // box-shadow: rgba(10, 0, 0, 0.1) -1px -2px 10px -0.5px,
  //   rgba(10, 0, 0, 0.05) 0px 4px 6px -2px;
  // background-color: white;
  // padding: 10px 0px !important;
  width: 100px;
  li {
    background-color: transparent;
    padding: 2px 0 !important;
    a {
      color: #ffffff;
      font-size: 15px;
      font-weight: 400;
      line-height: 30px;
      font-family: "DM Sans";
      // margin-left: 10px;
      margin-left: 15px !important;
      padding: 0 !important;
      text-align: center;
    }
  }
  li:hover {
    background-color: #010153 !important;
  }
  li:hover a {
    color: white !important;
  }
}
.nav-item.dropdown:hover .dropdown-menus {
  display: block;
}
// .dropdown-menu:hover {

//   background-color: #000;
// }
.header-actions {
  display: flex;
  gap: 20px;
  justify-content: end;

  .phone,
  .sign-in {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    padding: 0 9px;
    display: flex !important;
    align-items: center;
    gap: 5px;
    transition: color 0.3s ease;
    width: 100%;
    white-space: nowrap;
  }
}
.header-actions .phone:hover,
.header-actions .sign-in:hover {
  color: #007bff; /* Blue on hover */
}
