body {
  overflow-x: hidden !important ;
}
.Hero-section {
  background-image: url("../images/carbg.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  min-height: 700px;
  position: relative;

  .hero-text-section {
    padding: 130px 0 50px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      /* Shop Online. Pickup Today. It’s Fast, Simple and Easy.  Learn More. */
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #ffffff;
      margin-bottom: 10px;
    }
    h1 {
      /* Fast, Simple and Easy */
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 70px;
      line-height: 91px;

      color: #ffffff;
    }
    // .line-1 {
    //   position: relative;
    //   top: 0;
    //   bottom: 0;
    //   margin-bottom: 20px;
    //   border-right: 2px solid rgba(255, 255, 255, 0.75);
    //   font-family: "DM Sans";
    //   font-style: normal;
    //   font-weight: 700;
    //   font-size: 70px;
    //   line-height: 90px;
    //   color: #ffffff;
    //   white-space: nowrap;
    //   overflow-x: hidden !important;
    //   // transform: translateY(50%, 0);
    // }

    // /* Animation */
    // .anim-typewriter {
    //   animation: typewriter 4s steps(44) 1s 1 normal both,
    //     blinkTextCursor 500ms steps(44) infinite normal;
    // }
    // @keyframes typewriter {
    //   from {
    //     width: 0;
    //   }
    //   to {
    //     width: 24em;
    //   }
    // }
    // @keyframes blinkTextCursor {
    //   from {
    //     border-right-color: rgba(255, 255, 255, 0.75);
    //   }
    //   to {
    //     border-right-color: transparent;
    //   }
    // }
  }
  .hero-tab-toggle {
    display: flex;
    justify-content: start;
    margin-bottom: 30px;
    border: none;
    button {
      padding: 4px 10px;
      margin: 0 5px;
      border: none;
      background-color: transparent;
      color: white;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      border-radius: 0 !important;

      transition: background-color 0.3s, color 0.3s;
    }
    button.active {
      background-color: transparent;

      border-bottom: 2px solid white;
    }
  }
}
