@media only screen and (max-width: 1200px) {
  .prenium-brand-section .premium-brands .brand-card {
    padding: 30px 15px !important;
  }
  .prenium-brand-section .premium-brands .brand-card h6 {
    font-size: 14px !important;
  }
  .browsebytype-section .catageories {
    flex-wrap: wrap !important;
  }
  .browsebytype-section .catageories .card {
    width: 20% !important;
  }
  .Live-car-section .live-car-title .live-car-bg .Live-car-text h2 {
    font-size: 36px !important;
  }
}

@media only screen and (max-width: 991px) {
  .Hero-section .hero-text-section h1 {
    font-size: 55px !important;
  }
  .navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding: 0 !important;
  }
  .number {
    display: none !important;
  }
  .header-actions .sign-in {
    padding: 0 !important;
  }
  .navbar-toggler {
    background-color: white !important;
  }
  .header-actions .sign-in {
    justify-content: end !important;
  }
  .contact-container .contact-button .text {
    font-size: 12px !important;
  }
  .browsebytype-section .catageories .card {
    width: 24% !important;
  }
  .catagorys-section .Contents-Section .detailsdata ul li h5 {
    font-size: 9px !important;
  }
  .Live-car-section .live-car-title .live-car-bg .Live-car-text h2 {
    font-size: 31px !important;
  }
  .Live-car-section .live-car-title .live-car-bg .Live-car-text p {
    font-size: 14px !important;
  }
  .Live-car-section .live-car-title .live-car-bg .Live-car-text {
    padding: 50px 50px 50px 50px !important;
  }
  .loader-section .loader-column .loader-number {
    font-size: 35px !important;
  }
  .loader-section .loader-column .loader-label {
    font-size: 14px !important;
  }
  .recentlyadd-section h2 {
    font-size: 35px !important;
  }
  .catagory .Content-Section {
    padding: 9px 10px 20px 17px !important;
  }
  .browsebytype-section .browsebytype-title {
    padding-bottom: 40px !important;
  }
  .explore-Allvehicles-section {
    padding-top: 94px !important;
  }
  .explore-Allvehicles-section .Explore-text-section h2 {
    font-size: 35px !important;
  }
  .recentlyadd-section {
    padding-top: 40px !important;
  }
  .features-section {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }
  .container-xl {
    max-width: 720px !important;
  }
  .Reachus {
    padding-top: 26px !important;
  }
  .Reachus .reachus-text {
    padding: 10px 40px 30px 50px !important;
  }
  .Live-car-section .live-car-title {
    overflow-x: hidden !important;
  }
  .Reachus .reachus-text h2 {
    font-size: 22px !important;
  }
  .footer-section .footertopsection .mobileapp {
    padding: 0 !important;
  }
 
}

@media only screen and (max-width: 768px) {
  .Hero-section .hero-text-section h1 {
    font-size: 50px !important;
  }
  .browsebytype-section {
    top: -11px !important ;
  }
  .search-bar {
    flex-direction: column !important;
  }
  .search-bar select {
    padding: 15px 20px !important;
  }
  .search-bar button {
    margin: 10px 20px !important;
  }
  .explore-Allvehicles-section .Explore-text-section h2 {
    font-size: 32px !important;
  }
  .tab-toggle button {
    padding: 10px 14px !important;
  }
  .catagorys-section .Contents-Section {
    padding: 10px 20px 20px 20px !important;
  }
  .catagorys-section .Contents-Section .detailsdata ul {
    padding: 17px 29px;
  }
  .catagorys-section .Contents-Section .detailsdata ul li h5 {
    font-size: 12px !important;
  }
  .catagorys-section .Contents-Section .detailsdata ul li {
    text-align: center;
    margin-right: 35px !important;
  }
  .Live-car-section {
    padding-top: 18px !important;
  }
  .Live-car-section .live-car-title .live-car-bg .Live-car-text h2 {
    font-size: 30px !important;
    line-height: 47px !important;
  }
  .Live-car-section .live-car-title .live-car-bg .Live-car-text p {
    font-size: 14px !important;
  }
  .Live-car-section .live-car-title .live-car-bg .Live-car-text p {
    margin-bottom: 30px !important;
  }
  .Live-car-section .live-car-title .live-car-bg {
    padding: 10px 22px !important;
  }
  .loader-section .loader-column {
    margin-bottom: 20px;
  }
  .catagory .Content-Section .details {
    font-size: 15px !important;
  }
  .catagory .Content-Section .details span {
    font-size: 15px !important;
  }
  .car-section .section .loooking-text {
    padding: 38px 50px !important;
  }
  .features-section .feature-item {
    padding: 0 24px !important;
  }
  .prenium-brand-section .prenium-brand-text h2 {
    font-size: 19px !important;
  }
  .Reachus .reachus-text {
    margin-top: 20px !important;
  }
  .Reachus .reachus-text h2 {
    font-size: 30px !important;
  }
  .footer-section .footer-mid-section .footer-information-detail {
    justify-content: start !important;
  }
  .footer-text {
    margin-bottom: 40px !important;
  }
  .footer-section .footertopsection .Products {
    margin-bottom: 30px !important;
  }
  .footer-section .footertopsection .mobileapp .images img {
    max-width: 200px !important;
  }
  .footertopsection .images {
    flex-direction: column;
    display: flex;
  }
  .footer-section .footertopsection {
    padding-bottom: 40px !important;
  }
  .footer-section .copyright-terms {
    justify-content: center !important;
  }
  .copyright {
    text-align: center !important;
  }
  .catagorys-section .images-section .icons-overlay {
    right: -10px !important;
  }
  .catagory .image-section .icon-overlay {
    right: -10px !important;
  }
  .Live-car-section .live-car-title .Live-car-image {
    width: 100% !important;
  }
  .Live-car-section .live-car-title .live-car-bg {
    width: 100% !important;
  }
  .Live-car-section .live-car-title .live-car-bg {
    padding: 39px 22px !important;
  }
  // .prenium-brand-section .prenium-brand-text h2 {
  //   font-size: 24px !important;
  // }
  .Hero-section .hero-text-section h1 {
    line-height: 60px !important;
  }
  .browsebytype-section {
    margin-top: -10px !important;
  }
  .contact-container .contact-button .text {
    font-size: 13px !important;
  }
}

@media only screen and (max-width: 450px) {
  .Hero-section .hero-text-section h1 {
    font-size: 29px !important;
  }
  .feature-text h2 {
    line-height: 37px !important;
  }
  .header-sections {
    padding: 10px 11px !important;
  }
  .features-section .feature-item {
    // text-align: center !important;
  }
  .brand-btn {
    display: none !important;
  }
  .features-section .feature-item {
    padding: 0 11px !important;
  }
  .loader-section .loader-column .loader-label {
    font-size: 11px !important;
  }
  .loader-section .loader-column .loader-number {
    font-size: 33px !important;
  }
  .loader-section .loader-column .loader-number {
    margin-bottom: 0 !important;
  }
  .btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: -0.625rem !important;
  }
  .Hero-section .hero-text-section {
    padding: 141px 0 50px 0px !important;
  }
  .browsebytype-section .browsebytype-text h1 {
    font-size: 29px !important;
  }
  .Hero-section .hero-text-section p {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 26px !important;
  }
  .catageories .card:last-child {
    display: none !important;
  }
  .Hero-section {
    min-height: 640px !important;
  }
  .browsebytype-section {
    top: 0px !important ;
  }
  .browsebytype-section .browsebytype-text h1 {
    font-size: 30px;
  }

  .browsebytype-section .browsebytype-title {
    padding-top: 40px !important;
  }
  .browsebytype-section .catageories .card {
    width: 48% !important;
  }
  .browsebytype-section .browsebytype-title {
    padding-bottom: 19px !important;
  }
  .Live-car-section .live-car-title .live-car-bg .Live-car-text h2 {
    font-size: 22px !important;
    line-height: 39px !important;
  }
  .Live-car-section .live-car-title .live-car-bg .Live-car-text {
    padding: 0px !important;
  }
  .explore-Allvehicles-section .Explore-text-section h2 {
    font-size: 21px !important;
  }
  .tab-toggle button {
    font-size: 11px !important;
    padding: 10px 3px !important;
  }
  .recentlyadd-section h2 {
    font-size: 25px !important;
  }
  .feature-text h2 {
    font-size: 25px !important;
  }
  .prenium-brand-section .prenium-brand-text h2 {
    font-size: 19px !important;
  }
  .features-section .feature-item .text h4 {
    font-size: 17px !important;
  }
  .Reachus .reachus-text h2 {
    line-height: 29px !important;
  }
  .Reachus .reachus-text .reachus-btn {
    margin-top: 35px !important;
  }
  .Reachus {
    padding-top: 80px;
    padding-bottom: 61px !important;
  }
  .footer-section .copyright p {
    margin-bottom: 0 !important;
  }
  .contact-container .contact-button .text {
    font-size: 12px !important;
  }
  .tab-toggle button.active {
    margin: 0 !important;
  }
  .prenium-brand-section .premium-brands .brand-card h6 {
    font-size: 12px !important;
  }
  .prenium-brand-section .prenium-brand-text .brand-btn a {
    font-size: 13px !important;
  }
  .prenium-brand-section {
    padding-top: 20px !important;
    padding-bottom: 40px !important;
  }
  .Reachus .reachus-text h2 {
    font-size: 16px !important;
    line-height: 26px;
  }
  .prenium-brand-section .prenium-brand-text .brand-btn a img {
    width: 12px !important;
  }
  .header-sections {
    padding: 0px 10px 9px !important;
    // background-color: #050b20;
    // background-color: #010153;
    background-color: #050b20 !important;

    width: 100%;
  }
  .Reachus .reachus-text {
    padding: 10px 0 !important;
  }
  .prenium-brand-section {
    padding-top: 6px !important;
    padding-bottom: 23px !important;
  }
  .car-section .section .loooking-text {
    padding: 18px 20px !important;
  }
  .car-section {
    padding-bottom: 25px !important;
  }
  .loader-section {
    padding: 20px 20px 25px !important;
    border-bottom: 1px solid #e1e1e1;
  }
  .explore-Allvehicles-section {
    padding-top: 40px !important;
    padding-bottom: 46px !important;
  }
  .Hero-section .hero-text-section h1 {
    line-height: 40px !important;
  }
  .car-section .section .loooking-text h2 {
    font-size: 24px !important;
    line-height: 37px !important;
  }
  .contact-container {
    gap: 11px !important;
    flex-wrap: wrap !important;
  }
  .car-section .section .loooking-text h2 {
    width: 100% !important;
  }
  .footer-section .copyright p {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 26px;
    color: #ffffff;
  }
  .contact-container {
    margin-bottom: 0 !important;
  }
}
