#div {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh !important;
  width: 100vw !important;
  background-color: white;
  .wheel {
    z-index: 999px !important;
    height: 15rem;
    width: 15rem;
  }
}