@import url("bootstrap/dist/css/bootstrap.min.css");

// .container-xl {
//   max-width: 1050px !important;
//   margin: 0 auto !important;
//   padding-left: 15px;
//   padding-right: 15px;
// }
.catagory {
  background: #ffffff;
  border: 1px solid #e7e6e6;
  box-shadow: 0px 16px 32px 0px rgba(136, 136, 136, 0.2);
  border-radius: 16px;

  .image-section {
    position: relative;
    height: 10rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      position: relative;
    }
    // button {
    //   position: absolute;
    //   bottom: 0;
    //   background-color: blue;
    //   border-radius: 20px;
    //   padding: 10px 20px;
    //   left: 0;
    // }

    .icon-overlay {
      position: absolute;
      top: -15px;
      right: -20px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .Content-Section {
    padding: 10px 10px 20px 20px;
    h4 {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      /* Color/Primary */
      color: #050b20;
      margin-bottom: 0;
    }
    .details {
      font-size: 13px;
      margin-top: 0;
      span {
        font-size: 13px;
        font-weight: 500;
        margin-right: 5px;
        margin-left: 5px;
      }
    }

    .price {
      font-size: 17px;
      font-weight: 700;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .join-auction-btn {
      a {
        display: flex;
        align-items: baseline;
        justify-content: baseline;
        font-family: "DM Sans";
        font-size: 15px;
        font-weight: 400;
        text-decoration: none;
        color: #405ff2;
        img {
          max-width: 100%;
          object-fit: cover;
          margin-left: 5px;
        }
      }
    }
  }
}
/* Pagination Controls */
.pagination-controls {
  margin-top: 30px;
  .pagination-controls .icon {
    color: black;
    text-align: center;
  }
  button {
    padding: 6px 20px;
    margin: 0 34px;
    background-color: #ffffff;
    border: 1px solid rgb(206, 201, 201);
    border-radius: 20px;
    color: black;
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    .icon {
      font-size: 12px;
    }
  }
  button:hover {
    background-color: transparent !important;
  }
}

.pagination-controls button:disabled {
  cursor: not-allowed;
}
.pagination-controls button:active {
  border: 1px solid black;
  background-color: transparent !important;
}

.pagination-controls .icon.disabled {
  color: black;
}
.relatedlistening-section {
  padding-bottom: 20px;
}
.recentlyadd-sections {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px !important;
  padding: 0px 0 0px !important;
  h2 {
    /* Recently Added */
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
    color: #050b20;
  }
  .join-auction-btn {
    a {
      display: flex;
      align-items: baseline;
      justify-content: baseline;
      font-family: "DM Sans";
      font-size: 15px;
      font-weight: 400;
      text-decoration: none;
      color: black;
      img {
        max-width: 100%;
        object-fit: cover;
        margin-left: 5px;
      }
    }
  }
}
.recentlyadd-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px !important;
  padding: 50px 0 30px !important;
  h2 {
    /* Recently Added */
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
    color: #050b20;
  }
  .join-auction-btn {
    a {
      display: flex;
      align-items: baseline;
      justify-content: baseline;
      font-family: "DM Sans";
      font-size: 15px;
      font-weight: 400;
      text-decoration: none;
      color: black;
      img {
        max-width: 100%;
        object-fit: cover;
        margin-left: 5px;
      }
    }
  }
}
