.prenium-brand-section {
  padding-top: 80px;
  padding-bottom: 80px;

  .prenium-brand-text {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 40px;
    h2 {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 30px;

      color: #050b20;
    }
    .brand-btn {
      a {
        display: flex;
        align-items: baseline;
        justify-content: baseline;
        font-family: "DM Sans";
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        color: black;
        img {
          max-width: 100%;
          object-fit: cover;
          margin-left: 5px;
        }
      }
    }
  }
  .premium-brands {
    margin-top: 20px;
    margin-bottom: 20px;
    .brand-card {
      background-color: #f8f9fa; /* Light background */
      border: 1px solid #ddd; /* Border for the card */
      border-radius: 16px; /* Rounded corners */
      transition: transform 0.3s ease; /* Smooth scaling effect on hover */
      padding: 30px 20px;
      img {
        width: 50px;
        height: 50px;
        object-fit: contain; /* Maintain aspect ratio */
        margin-bottom: 10px;
      }
      h6 {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
        color: #333; /* Text color */
      }
    }
  }

  .premium-brands .brand-card:hover {
    //   transform: scale(1.05); /* Scale effect on hover */
    //   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #405ff2;
  }
  .premium-brands .brand-card:hover h6 {
    color: #405ff2;
  }
}
