.search-section {
  max-width: 700px;
}
.search-bar {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ffff;
  background: #ffff !important;
  border-radius: 16px;
  padding: 10px 5px !important;
  margin-bottom: 15px;
}

.search-bar .select-input {
  margin-right: 10px;
  padding: 5px 20px;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  // appearance: none;
}
.search-bar .select-input option {
  background-color: #f0f0ff !important;
  color: #333;
  border-radius: 20px !important;
  border: none !important;
}

.search-bar button {
  background-color: #405FF2;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px;
}

.search-bar button:hover {
  background-color: #222;
}
