/* General Container */
.otp-container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  font-family: "DM Sans";

  /* Headings */
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }

  img {
    width: 150px;
    height: 100%;
    object-fit: cover;
    margin-bottom: 30px;
  }

  /* Input Fields */
  // input {
  //   padding: 10px;
  //   width: 100%;
  //   margin: 10px 0;
  //   border: 1px solid #ccc;
  //   border-radius: 5px;
  //   font-size: 14px;
  // }
  .wrapper--input {
    position: relative;
    width: 100%;
    margin-bottom: 0px;

    input {
      background-color: transparent;
      border: 1px solid #050b20;
      display: block;
      font-size: 15px;

      &[type="text"],
      &[type="password"],
      &[type="tel"],
      &[type="email"] {
        border: 2px solid rgb(212, 211, 211);
        border-radius: 10px;
        color: black;
        padding: 20px 10px 10px 15px;
        width: 100%;
        margin-top: 25px;
      }

      &:focus {
        color: scale-color(black);
        outline: 0;
        background-color: transparent;
      }

      &:focus~label,
      &.valid~label {
        border-color: black;
        color: gray;
        font-size: 12px;
        top: -5px;
        background-color: transparent;
      }
    }

    label {
      font-size: 13px;
      font-weight: normal;
      color: scale-color(gray);
      position: absolute;
      pointer-events: none;
      padding: 10px;
      top: -5px;
      left: 7px;
      background-color: transparent;
    }
  }

  /* Error Message */
  p {
    color: red;
    font-size: 14px;
  }

  /* Buttons */
  button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }

  button:disabled {
    cursor: not-allowed;
    background-color: #ccc;
  }

  .send-otp-btn {
    background-color: #050b20;
    margin-top: 30px;
  }

  .send-otp-btn:hover {
    background-color: #050b20;
  }

  .verify-otp-btn {
    background-color: #050b20;
    margin-top: 30px;
  }

  .verify-otp-btn:hover {
    background-color: #050b20;
  }

  .update-password-btn {
    background-color: #050b20;
    margin-top: 30px;
  }

  .update-password-btn:hover {
    background-color: #050b20;
  }
}